.getAllMovies {
    text-align: center;
    color: white;
}

main {
    color:white;
}

form {
    color: black;
}

.getAllMovies:hover {
    color: black;

}

#movieId {
    text-align: center;
}

#searchGenre {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#searchName {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#movieName {
    text-align: center;
}

#movieGenre {
    text-align: center;
}

#movieYearReleased {
    text-align: center;
}

#movieAvailableOn {
    text-align: center;
}

#deleteMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;

}

#createMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#modalSubmit {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}

#modalReset {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}

body {
    margin: 0;
    padding: 0;
    background: url("https://www.xmple.com/wallpaper/gradient-linear-blue-purple-1920x1080-c2-00bfff-9400d3-a-90-f-14.svg") no-repeat;
    background-size: cover;
}

#mainHeader {
    color: white;
}

#movieCounter {
    text-align: center;
}

#movieNameGenre {
    display: flex;
    justify-content: center;
}

#genreDelete {
    display: flex;  
}

#searchHeader {
    color: white;
}

#genreHeader {
    color: white;
}

#createMovie {
    color: #56144D;
}

#myCard {
        margin: 0 auto;
}