.getAllMovies {
    text-align: center;
    color: white;
}

main {
    color:white;
}

form {
    color: black;
}

.getAllMovies:hover {
    color: black;

}

#movieId {
    text-align: center;
}

#searchGenre {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#searchName {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#movieName {
    text-align: center;
}

#movieGenre {
    text-align: center;
}

#movieYearReleased {
    text-align: center;
}

#movieAvailableOn {
    text-align: center;
}

#deleteMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;

}

#createMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#modalSubmit {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}

#modalReset {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}

body {
    margin: 0;
    padding: 0;
    /* background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0HBg4IBxQSCgkNDxYPEgwMDRcPFA0WFB0iGBgaEx8iHTQgJBooJxQfITEnJTErLi4wIyE1ODkwNyg5NDUBCgoKDQ0NGg0PFysZExkrKysrKystLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAwIEAf/EAB8QAQEBAAIBBQEAAAAAAAAAAAASEQECMUFRkbHwIv/EABgBAQEBAQEAAAAAAAAAAAAAAAADBAcG/8QAFhEBAQEAAAAAAAAAAAAAAAAAABES/9oADAMBAAIRAxEAPwDuklSSXsa5llOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplWSVZJSrRlKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplWSVZJSq+UpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmVZJUklKtGU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmVZJVklOtGUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmVZJVwxKtGUpJVwwplKSVcMKZSklXDCmUpJVwwplKSVcMKZSklXDCmUpJVwwplKSVcMKZSklXDCmUpJVwwplKSVcMKZSklXDCmUpJVwwplKSVcMKZSklXDCmUpJVwwplKSVcMKZSklXDCmVZJUklKr5TklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZVklWSUq0ZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZVklSSUq0ZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZTklSSSmU5JUkkplOSVJJKZVklWSUqvlKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplKSVZJKZSklWSSmUpJVkkplWSQTXhJIBCSQCEkgEJJAISSAQkkAhJIBCSQCEkgEJJAISSAQkkAhJIBCSQCEkgEJZ78c8ZP1oBDO2+3DPFc+j0CGdt8fvlrrxzn9eQCP/Z') no-repeat; */
    background: url("https://www.xmple.com/wallpaper/gradient-linear-blue-purple-1920x1080-c2-00bfff-9400d3-a-90-f-14.svg") no-repeat;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkNx6ATHGNelGnHpSUpu3PIKypj1O_DiooZA&usqp=CAU") no-repeat; */
    background-size: cover;
}

#mainHeader {
    color: white;
}

#movieCounter {
    text-align: center;
}

#movieNameGenre {
    display: flex;
    justify-content: center;
}

#genreDelete {
    display: flex;  
}

#searchHeader {
    color: white;
}

#genreHeader {
    color: white;
}

#createMovie {
    color: #56144D;
}

#myCard {
        margin: 0 auto;
}