.getAllMovies {
    text-align: center;
}

form {
    text-align: center;
}

#searchGenre {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#deleteMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;

}

#createMovie {
    margin: 0 auto;
    width: 450px; 
    text-align: center;
}

#modalSubmit {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}

#modalReset {
    text-align: center;
    width: 30mm;  
    height: 12mm;
}